body {
  font-family: "Raleway", sans-serif;
  padding: 10px;
  margin: 10px;
  /* background: steelblue; */
  background: linear-gradient(45deg, rgb(79, 240, 224), rgba(79, 240, 224, 0));
}

para-text {
  font-size: 2rem;
}

.link {
  text-decoration: none;
}
